*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

.content{
    position: relative;
}

.content h2{
    position: absolute;
    
    transform: translate(-50%,-50%);
    font-size: 128px;
}



.content h2:nth-child(1){
    color: transparent;
    -webkit-text-stroke:  2px #03a9f4;

}

.content h2:nth-child(2){
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate
{
    0%,100%{
        clip-path: polygon(0 47%, 9% 43%, 21% 40%, 33% 42%, 43% 46%, 53% 51%, 65% 54%, 77% 54%, 88% 51%, 97% 47%, 100% 44%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0 59%, 11% 65%, 24% 68%, 39% 66%, 51% 61%, 58% 54%, 66% 47%, 76% 44%, 85% 44%, 93% 47%, 100% 51%, 100% 100%, 0% 100%);
    }

}
